*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#15120b;
    color: #e8efe1;
     font-family: Arial, sans-serif;
  font-size: 16px;
    font-weight: 400;
    
}
.logo img{
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 2vh;
    align-self: center;
    margin-top: 1vh;
    
}

nav{
    display: flex;
    justify-content: space-between;
    /* margin: 2vh; */
    margin: 0  2vw;
    background-color: #15120b;
    margin-top: 2vh;

}
.med ul{
    display: flex;
    gap: 2vw;
    list-style: none;
    font-weight: 400;
}
.buttons{
    /* border: 2px solid red; */
    
    display: flex;
    gap:7px;
    

    
}
#sign{
    background-color: #15120b;
    color: #e8efe1;
    border-radius: 3.40282e38px;
    height: 25px;
    width: 65px;
    box-shadow: none;
    border: 1px solid #e8efe1;

}
#Download{
height: 25px;
width: 90px;
border: 1px solid #e8efe1 ;
border-radius: 3.40282e38px;

}

.cantainer{
  
    margin-top: 15vh;
    margin-left: 1vw;

}
#downmac{
    height:40px;
    width: 170px;
    border-radius:3.40282e38px ;
    border: none;
    margin-top:2vh ;
}
.box2{
    background-color: #e8efe1;
    width: 95vw;
    height: 100vh;
   
    
    
    
    
    
    
}
.boxs{
    text-align:left;
   
    width: 95vw;
}

.brandsbox{
    border-radius: 5px ;
    height: 15vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1a1914;
    

}
.brandsbox img{
    height:6vh ;
}
.box2 img{
     width: 95vw;
    height: 100vh;;
}
.box3{
    flex-wrap: wrap;
}

.box4{
     width: 95vw;
    height: 100vh;
  background-color:#1a1914;
 
}
.box4 .left{
   display: flex;
   flex-direction: column;
  
   justify-content: center;
   padding: 2vw;
   gap: 1vh;
   
}
.box4 .right img{
    height: 95vh;
    width: 65vw;
  margin-top: 3vh;
  margin-left: 2vw;
    
}
.box5{
     width: 95vw;
    height: 100vh;
  background-color:#1a1914;
 
}
.box5right{
     display: flex;
   flex-direction: column;
  
   justify-content: center;
   padding: 2vw;
   gap: 1vh;
}
.box5left{
    background-color: #333d3f;
    margin: 4vh 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.box6{
     width: 95vw;
    height: 100vh;
  background-color:#1a1914;
 
}
.box6 .left{
   display: flex;
   flex-direction: column;
  
   justify-content: center;
   padding: 2vw;
   gap: 1vh;
   
}
.box6 .right img{
    height: 95vh;
    width: 65vw;
  margin-top: 3vh;
  margin-left: 2vw;
    
}
.box7{
    width: 95vw;
    height: 100vh;
    gap: 4vh;
    
    
    
}
.boxss{
   
    width: 30vw;
    background-color:#1a1914;
    font-size: 3vh;
    

   
    
}
 .table{
    margin-top: 10vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
 }
