*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#15120b;
    color: #e8efe1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    
}
.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    /* margin: 2vh; */
    margin: 0  10px;
    background-color: #15120b;
    margin-top: 2vh;

}
.med ul{
    display: flex;
    gap: 2vw;
    list-style: none;
    font-weight: 400;
}
.buttons{
    /* border: 2px solid red; */
    
    display: flex;
    gap:7px;
    

    
}
#sign{
    background-color: #15120b;
    color: #e8efe1;
    border-radius: 3.40282e38px;
    height: 25px;
    width: 65px;
    box-shadow: none;
    border: 1px solid #e8efe1;

}
#Download{
height: 25px;
width: 90px;
border: 1px solid #e8efe1 ;
border-radius: 3.40282e38px;

}

.cantainer{
  
    margin-top: 15vh;
    margin-left: 1vw;

}
#downmac{
    height:40px;
    width: 170px;
    border-radius:3.40282e38px ;
    border: none;
    margin-top:2vh ;
}
.box2{
    background-color: #e8efe1;
    width: 95vw;
    height: 100vh;
    
    
    
    
    
}
.boxs{
    text-align:left;
   
    width: 95vw;
}
